@import '../../styles/global/colors.scss';

.sidebar {
  color: $text-color;
  height: 100vh;
}

.toggleSidebar {
  border-bottom: 1px solid rgba(white, 0.25);
  padding: 12px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $sidebar-background;
  box-shadow: 0 0 15px -2px rgba(black, 0.25);

  .actions {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    transition: opacity 300ms ease;
  }

  .opacity-0 {
    opacity: 0;
  }

  .opacity-1 {
    opacity: 1;
  }

  .toggleButton {
    transition: transform 300ms ease;
  }

  .toggleButton_closed {
    transform: translateX(25%);
  }

  .toggleButton_opened {
    transform: translateX(500%);
  }
}
