@import url('./fonts/load_fonts.scss');
@import './global/colors.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
  width: 100vw;
  overflow: hidden;
  background-color: $editor-background;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}

.mermaid.diagram {
  display: flex;
  justify-content: center;
}

.ttable {
  border: 1px solid red;
  width: 100%;
  font-size: 16px;
  border: 1px solid $sidebar-background;
  text-align: center;
}

.ttable td,
.ttable th {
  padding: 10px;
  border: none;
}

.ttable tr {
  border: none;
}

.ttable tr:nth-child(odd) {
  background-color: $sidebar-background;
}

.ttable tr:nth-child(even) {
  // background-color: var(---background);
}
